# Created by https://www.gitignore.io/api/netbeans,java-web

### Java-Web ###
## ignoring target file
target/

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
nbactions.xml


# End of https://www.gitignore.io/api/netbeans,java-web
src/conf/persistence.xml
.DS_Store
